
<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/img/logo.png">
<script src="__PUBLIC__/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/lib/backbone.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/lib/backbone-localstorage.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/tpl-loader.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/utils.js" type="text/javascript" charset="utf-8"></script>

<link href="__PUBLIC__/lib/bootstrap3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" charset="utf-8">
<link href="__PUBLIC__/css/commen.css" type="text/css" rel="stylesheet" charset="utf-8">