div.add_person{
	padding-top: 4%;
}
div.add_person img{
	width: 75%;
	height: 270px;
	margin-left: 20%;
	margin-top: 6%;
}
button.upload{
	width: 180px;
	margin-left: 20%;
}
form.personInfo button[type=submit]{
	width: 50%;
	margin-left: 25%;
}
form.accountInfo button[type=submit]{
	width: 50%;
	margin-left: 25%;
}
form.personInfo img{
	font-size: 40px Impact;
	text-align: center;
}
input[type=file]{
	display: none !important;
}
.success{
	color: green;
}

/*
==================
 */
div.account_info div.check-box{
	padding-left: 2.6%;
}
div.join-event table{
	text-align: center;
}
div.join-event table th{
	text-align: center;
}
div.join-event .cat{
	width: 81px;
}

.fix-layout{
	position: fixed;
	right: 20px;
	bottom: 5%;
	z-index: 100;
}
.fix-layout img.fixed-img {
	width: 60px;
	height: 60px;
	margin: 5px !important;
}
div.fix-layout img.print.print-list{
	background: url("../../img/list.png");
	background-size: 100% 100%;
}
div.fix-layout img.print.print-card{
	background: url("../../img/card.png");
	background-size: 100% 100%;
}
div.fix-layout img.print:hover{
	background: url("../../img/print.png");
	background-size: 100% 100%;
}
.fix-dropdown{
	left: -218px;
	top: -70px;
}
.event-dropdown{
	position: inherit;
}

div.join-event button[type=submit]{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 20%;
}
div.event-list a.join button{
	width: 75px;
}
div.event-list a.join button:hover{
	color: blue;
}
img.img-ex{
	margin-left: 35%;
	width: 140px;
}
p.photo-limit{
	padding-top: 13%;
	color: red;
}