
/*div.add_person{
	text-align: center;
	width: 70%;
	padding-left: 29%;
}*/
div.add_person img{
	width: 180px;
	height: 260px;
	margin-left: 20%;
	margin-top: 20%;
}
button.upload{
	width: 180px;
	margin-left: 20%;
}
button[type=submit]{
	width: 50%;
	margin-left: 25%;
}
div.person_info{
	margin-left: 8%;
}
input[type=file]{
	display: none !important;
} 