div.add_person{
	padding-top: 4%;
}
div.add_person img{
	width: 210px;
	height: 270px;
	margin-left: 20%;
	margin-top: 6%;
}
button.upload{
	width: 180px;
	margin-left: 20%;
}
form.personInfo button[type=submit]{
	width: 50%;
	margin-left: 25%;
}
form.accountInfo button[type=submit]{
	width: 50%;
	margin-left: 25%;
}
div.person_info{
	margin-left: 8%;
	margin-top: 4%;
}
form.personInfo img{
	font-size: 40px Impact;
	text-align: center;
}
input[type=file]{
	display: none !important;
}
.success{
	color: green;
}

/*
==================
 */
div.account_info div.check-box{
	padding-left: 2.6%;
}
div.account_info table{
	text-align: center;
}
table th{
	text-align: center;
}
div.account_info .cat{
	width: 81px;
}
